$backround-red: #FF8484;
$background-green: #7BAE73;
$background-grey: #EEEEEE;
$background-white: #FFFFFF;
$background-white_two: #FFFEFB;


$main-backround: #E5E5E5;


$font-black: #3F3F3F;
$font-grey: #B4B4B4;
$font-white: #FFFFFF;